<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://kit.fontawesome.com/398f89c074.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<div id="app">
    <div class="header">
        <basket-card v-if="basketCardVision" text-header="New Header">
            <basket-goods-item v-for="item in goods" :item="item">

            </basket-goods-item>

            <template v-slot:header>
                <div>корзина</div>
                <i class="fas fa-times" @click='closeCard'></i>
            </template>
            <template v-slot:footer>
                <div></div>
            </template>
        </basket-card>
        <div class="header-text"> {{shop}}</div>

        <div class="right">
            <i class="fas fa-search" @click="setVision"></i>
            <div v-if="vision">
                <input type="text" v-model="searchString">
                <button @click="goodsFilter" class="sortBtn">отсоритровать</button>
            </div>

            <i class="fas fa-shopping-cart" @click="openCard"></i>
        </div>
    </div>
    <div :class="{body:classes.body, container:classes.container}">
        <goods-item v-for="item in goodsFiltered" :item="item"></goods-item>
    </div>
</div>

<body>
    <script src=" script.js">
    </script>
</body>

</html>